.leckerli-one {
  font-family: 'Leckerli One';
}

.corben {
  font-family: 'Corben';
}

.honey-script {
  font-family: 'Honey Script';
}

.oswald {
  font-family: 'Oswald';
}

.rammetto-one {
  font-family: 'Rammetto One';
}

.komika-axis {
  font-family: 'Komika Axis';
}

.sansita {
  font-family: 'Sansita';
}

.news_cycle {
  font-family: 'News Cycle';
}

.chivo {
  font-family: 'Chivo';
}